*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

.container{
    max-width: 1440px;
    margin: 0 auto;
}

a{
    font-family: Roboto;
font-weight: 300;
font-size: 18px;
line-height: 100%;
letter-spacing: 0%;
text-align: center;
color: #737373;
}

header{
    display: flex;
    justify-content: space-between;
    padding-top: 73px;

}

ul{
    display: flex;
    gap: 25px;
}

h1{
    font-family: Roboto;
font-weight: 900;
font-size: 50px;
line-height: 100%;
letter-spacing: 0%;
color: black;
width: 596px;
}

.section1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.btn{
    width: 179px;
    height: 53px;
    color: white;
    background: linear-gradient(95.2deg, #B90160 2.23%, #2E3192 99.51%);
    font-family: Roboto;
font-weight: 900;
font-size: 20px;
line-height: 100%;
letter-spacing: 0%;
text-align: center;
margin-top: 58px;
border: none;
}

.section2{
    display: flex;
    gap: 60px;
    margin-top: 120px;
    justify-content: center;
    flex-wrap: wrap;
}

h2{
    font-family: Roboto;
font-weight: 400;
font-size: 50px;
line-height: 100%;
letter-spacing: 0%;
text-align: center;
}

span{
    color: #B90160;
}

.section3{
    min-height: 357px;
    background: linear-gradient(94.31deg, rgba(212, 20, 90, 0.25) 0.96%, rgba(46, 49, 146, 0.25) 104.83%);
    justify-content: center;
    display: flex;

}

.boxses{
    max-width: 1434px;
    width: 100%;
    min-height: 248px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    
}

.box{
    max-width: 436px;
    min-width: 300px;
    height: 187px;
    background-color: white;
    border-radius: 9px;
    padding: 0 20px;
    position: relative;
}

.boxcha{
    width: 93px;
    height: 106px;
    position: absolute;
    top: -90px;
    left: 60px;
}

footer{
    max-width: 1440px;
    min-height: 165px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 145px;
    flex-wrap: wrap;
}

h5{
    font-family: Roboto;
font-weight: 700;
font-size: 14px;
line-height: 100%;
letter-spacing: 0%;
color: black;
padding-bottom: 10px;
}

.img5{
    margin-top: 6px;
}

.lion{
    max-width: 224px;
    height: 56px;
    margin-top: 15px;
}

footer p{
    font-family: Roboto;
font-weight: 300;
font-size: 14px;
line-height: 16px;
letter-spacing: 0%;
max-width: 224px;
height: 32px;
}




@media (max-width:992px) {
    ul{
        display: none;
    }

    h1{
        width: 323px;
        height: 131px;
        font-size: 40px;
        padding-left: 66px;
    }

    .btn{
        margin-left: 66px;
    }

    .img2{
        width: 368px;
        height: 463px;
        margin-right: 90px;
    }

    .img1{
        padding-left: 66px;
    }

}

@media (max-width:572px) {
    header{
        display: flex;
        justify-content: center;
    
    }

    .img2{
        display: none;
    }

    h1{
        width: 194px;
        height: 75px;
        font-size: 25px;
    }

    .section1{
        display: flex;
        justify-content: center;
        margin-top: 40px;
    }

    h2{
        margin-top: 20px;
    }
    .boxses{
        justify-content: center;
        gap: 40px;
    }
}
















